*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: white;
    font-family: 'Cormorant SC', serif;
}

body.swichMode{
    background-color: #000;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header{
position: relative;
overflow: hidden;
width: 100%;
height: 100vh;
}

.header_head{
    position: relative;
    background-color: rgb(63, 60, 60);
}

.head_inner{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items:center;
    align-items: center;
}

.head_inner.logo{
    font-weight: bold;
    font-size: 18px;
    color: #ccc;
}

.head_inner nav ul{
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items:center;
    align-items: center;
}

.head_inner nav ul {
    list-style-type: none;
}

.head_inner nav ul li a{
font-size: 14px;
color: #ccc;
display: inline-block;
padding: 20px 30px;
text-decoration: none;
text-transform: uppercase;

}

.head_inner nav ul li.switch a{
position: relative;
width: 45px;
height: 24px;
border: 1px solid #ccc;
border-radius: 10em;
padding: 0;
margin-top: 5px;
overflow: hidden;
}

.head_inner nav ul li.switch a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    background-color: #fff;
    border-radius: 100em;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

img{
    width: 20%;
}

.header_body{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.title > span{
    color: #c20909;
}

.title{
color:#fff;
}

.logo{
    color:#fff;
}

.btn{
    display: inline-block;
    background-color: #c20909;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

img{
    border-radius: 50%;
}
.about_text{
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
    color: #ccc;
    margin-top: -100px;
}

.about_text{
    font-size: 18px;
    margin-bottom: 25px;
}